.pList {
  max-width: 1024px;
  flex-wrap: wrap;
  .pListItem {
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    .pListImg {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }
    .pListTitle > h1 {
      font-size: 18px;
    }
    .pListTitle > h2 {
      font-size: 14px;
      font-weight: 300;
    }
  }
}
@media (max-width: 1024px) {
  .pList {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .pList {
    width: 100%;
    flex-direction: column;
  }
  .pListItem {
    height: max-content !important;
  }
}
